<br>
<a routerLink="/parameters/create-points" class="btn">Add point</a>
<br>

<table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of registerList | paginate: { itemsPerPage: registerPerPage, currentPage: pag, totalItems: total }">
        <td>{{r.name}}</td>
        <td>
            <a routerLink="/parameters/delete-points/{{r._id}}" class="btn red">Delete</a>&nbsp;
            <a routerLink="/parameters/edit-points/{{r._id}}" class="btn orange">Edit</a>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <pagination-controls
                      (pageChange)="pag = $event; listRegisters()"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </td>
      </tr>
    </tbody>
  </table>