#login-page {
    width: 500px;
    margin-top: 3%;
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.show-errors{
    color: red;
}


re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
  }