<body class="mainBodyDriver">
    <div class = "blocked" id="block" *ngIf="activeForm">
        <app-register-in-points (newItemEvent)="changeActiveForm()"></app-register-in-points>
    </div>
    <div class="newTrip" *ngIf="newTrip">
        <p>Hay una nueva petición de viaje: <br> 
        Origen: {{dataTrip.origin}} <br>
        Destino: {{dataTrip.destination}} <br>
        Nombre: {{dataTrip.client}} <br>
        </p>
        <div class = "divButtons">
            <button class="waves-effect waves-light btn" (click)="acceptTrip()"><i class="material-icons left">airport_shuttle</i>Aceptar</button>
            <button class="waves-effect waves-light btn red" (click)="closeForm()"><i class="material-icons left">close</i>Rechazar</button>
        </div>
    </div>
    <div class="newTrip" *ngIf="isOnTripBoolean">
        <p class = "lines">{{message}}</p>
        <div class = "divButtons2">
            <button class="waves-effect waves-light btn" (click)="setOnTrip()"><i class="material-icons left">check</i>Aceptar</button>
        </div>
    </div>
    <div class="textContainer">
        <h2 class="welcomeTextDriver">Welcome to UrbanNav</h2>
        <h3 class="innerText">Thank you for chosing us. <br> We will make customers preffer our drivers, <br> help us to do it.</h3>
    </div>
    <div class="optionsDriver">
        <div class="addPoints"  *ngIf="!isOnTrip">
            <button class="waves-effect waves-light btn buttons" (click)="addPointsButton()"><i class="material-icons right icons">add_location</i>Add points</button>
        </div>
        <div class="availableButton" *ngIf="!isOnTrip">
            <button (click)="putAvailable()" class="waves-effect waves-light btn buttons"  *ngIf="!isAvailable"><i class="material-icons right icons">directions_car</i>I'm available</button>
            <button (click)="putAvailable()" class="waves-effect waves-light btn buttons" *ngIf="isAvailable"><i class="material-icons right icons">directions_car</i>I'm not available</button>
        </div>
        <div class="startTravel"  *ngIf="isOnTrip">
            <button class="waves-effect waves-light btn buttons" (click)="startTrip()"><i class="material-icons right icons">check_circle</i>Start trip</button>
        </div>
        <div class="endTravel" *ngIf="isOnTrip">
            <button class="waves-effect waves-light btn buttons" (click)="endTrip()"><i class="material-icons right icons">cancel</i>End trip</button>
        </div>
    </div>
</body>