/* CARDS STYLE */

/* *,
*::before,
*::after { 
  box-sizing: border-box;
} */

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
} 

.homeImg-container {
    //position: relative;
    //display: inline-block;
  }
  
  .homeImg {
    width: 100%;
    height: 620px;
    object-fit: cover;
}

    .homeText {
        color: white;
        font-size: 50px;
        font-weight: bold;
        margin-top: 30%;
        margin-left: 15%;
        text-shadow: 1px 4px 4px #000000;
    }
  
  .homeOverlay-text {
    position: absolute;
    top: 11%;
    width: 50%;
    height: 620px;
    background: rgba(186, 171, 209, 0.2);
    color: #fff; 
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }

  .homeOverlay-trip {
    position: absolute;
    top: 16%;
    left: 40%;
    width: 50%;
    height: 620px;
    color: #fff; 
  }

/* CARDS STYLE */

/* html {
  background-color: #f0f0f0;
} */

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  line-height: 0.4; /* Puedes ajustar este valor según tus necesidades */
}

button {
  background: white;
  border: none;
  padding: 16px 32px;
  color: black;
  //font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  //z-index: 500;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, violet, #9216F9, #16F9B8, #25DDDA, blue, indigo, violet, violet);
  background-size: 800%;
  border-radius: 0px;
  filter: blur(12px);
  animation: glowing 20s linear infinite;
}

/* .btn--block {
  display: block;
  width: 100%;
} */
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  z-index: 1;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(80%);
  //filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; 
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; 
    }
  }
}

.card__image--river {
  background-image: url(https://img.freepik.com/vector-premium/identificacion-licencia-conducir-automovil-foto-e-ilustracion-vectorial-automovil_625536-3487.jpg);
}

.card__image--record {
    background-image: url(https://img.freepik.com/vector-premium/concepto-coche-compartido_118813-5184.jpg);
}

.card__image--flowers {
    background-image: url(https://centauro.group/wp-content/uploads/2022/04/software@2x.png);
  }

.card__title {
  color: black;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  color: black;
}

