<body>
    <section>
        <div class="homeImg-container">
            <img class="homeImg" src="../../../assets/images/inicio.jpg">
            <div class="homeOverlay-text">
                <h1 class="homeText"> Travel safe, travel fast, <br> travel with UrbanNav.<br> <br>Your best option <br>to get around the city. </h1>
            </div>
        </div>
    </section>
    
    <!-- CARDS -->
    <div class="container-cards">
        <ul class="cards">
            <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--river"></div>
                <div class="card__content">
                <div class="card__title">Get behind the wheel and earn money.</div>
                <p class="card__text">Drive on the platform that has the largest number of active users.</p>
                <button class="btn btn--block card__btn">Register to drive</button>
                </div>
            </div>
            </li>
            <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--record"></div>
                <div class="card__content">
                    <div class="card__title">Request a trip at this time with US</div>
                    <p class="card__text">Drive on the platform that has the largest number of active users.</p>

                    <div class="card__text">
                        <input placeholder="Origin" id="origin" type="text">
                    </div>
                    
                    <div class="card__text">
                        <input placeholder="Destiny" id="destiny" type="text">
                    </div>

                    <button class="btn btn--block card__btn">Request my trip</button>
                    </div>
            </div>
            </li>
            <li class="cards__item">
            <div class="card">
                <div class="card__image card__image--flowers"></div>
                <div class="card__content">
                <div class="card__title">Sign in yourself to go anywhere</div>
                <p class="card__text">This defines the default size of an element before the remaining space is distributed. It can be a length (e.g. 20%, 5rem, etc.) or a keyword. The auto keyword means "look at my width or height property."</p>
                <button class="btn btn--block card__btn">Register to client</button>
                </div>
            </div>
            </li>
        </ul>
    </div>
    <!-- END CARDS -->
</body>


<!-- <div class="card__text">
    <input placeholder="Origin" id="origin" type="text">
</div>

<div class="card__text">
    <input placeholder="Destiny" id="destiny" type="text">
</div> -->