<div class="variablesContainer">
    <div class="showVariables">
        <div class="variablesTitle">
            <h2>Variables</h2>
        </div>
        <div class="variablesList">
            <h3>The email is: <br> {{register.email}}</h3>
            <h3>The sender email is: <br> {{register.sender_email}}</h3>
            <h3>The price per km is: <br> {{register.priceKm}}</h3>
        </div>
        <div class="editButton">
            <a routerLink="/parameters/edit-variables/{{register._id}}" class="btn edit">Edit Variables</a>
        </div>
    </div>
</div>