<body class="">
    <div class="newTrip" *ngIf="infoDriverBoolean">
        <p class = "lines">{{infoDriver}}</p>
        <div class = "divButtons">
            <button class="waves-effect waves-light btn" (click)="acceptTrip()"><i class="material-icons left">airport_shuttle</i>Aceptar</button>
            <button class="waves-effect waves-light btn" (click)="closeForm()"><i class="material-icons left">close</i>Rechazar</button>
        </div>
    </div>
    <!-- CARDS -->
    <div class="container-cards" *ngIf="!activeSession">
        <ul class="cards">
            <li class="cards__item">
                <div class="card">
                    <div class="card__content">
                        <div class="card__title">Request a trip at this time with US</div>
                        <p class="card__text">Drive on the platform that has the largest number of active users.</p>
                        <form [formGroup]="fGroup" class="container">
                            
                            <select formControlName="origin" class="browser-default selector selectOrigin">
                                <option value="" disabled selected>Origin</option>
                                <option class="optionPlace" *ngFor="let o of list" value="{{o._id}}">{{o.name}}</option>
                            </select>
                            
                            <select formControlName="destination" class="browser-default selector">
                                <option value="" disabled selected>Destiny</option>
                                <option class="optionPlace" *ngFor="let o of list" value="{{o._id}}">{{o.name}}</option>
                            </select>

                        </form>

                        <button (click)="requestMyTrip()" class="btn btn--block card__btn">Request my trip</button>
                    </div>
                    
                </div>

                <div class="cost-container" *ngIf="ongoingPetition">
                    <h3>This will be the cost of your trip: {{infoPetition.total}}</h3>
                </div>

                <div class="acceptCost" *ngIf="ongoingPetition">
                    <button (click)="acceptPrice()" class="btn btn--block card__btn">Accept</button>
                    <button (click)="declinePrice()" class="btn btn--block card__btn">Decline</button>
                </div>
            </li>
        </ul>
    </div>
    <!-- END CARDS -->

    


</body>