<section>
  <div class="content">
        <div class="info">
            <p>
                Welcome to <span class="urbnav">Urban Nav</span>, where innovation
                meets convenience in the world of transportation. Founded with a vision
                to redefine commuting experiences, we strive to make getting from point
                A to point B not just a journey, but an exceptional adventure.
                <br/>
                Our journey began with a simple yet powerful idea: to create a seamless,
                reliable, and efficient platform that connects passengers with skilled
                drivers, ensuring a safe and enjoyable ride for all.
            </p>
            <button class="btn">Join</button>
        </div>

        <div class="swiper">
            <div class="color">
                <p class="text">
                    Our Mission
                    <br> Our mission is to revolutionize transportation by providing a cutting-edge platform that not only meets but exceeds the expectations of our users. We aim to transform the way people think about commuting, making it not just a means to an end, but an experience worth remembering.
                    <br/>
                </p>
            </div>
        </div>
    </div>

  <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
  </ul>
</section>
